body {
    background-color: rgb(211, 211, 211);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, sans-serif;
    height: 70vh;
}

.main-container {
    background-color: #f4f4f4;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 20px;
}

.calc-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}

.input-group{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}